<header class="combat-tracker-header">
    {{#if combat.started}}
    <div class="encounter-controls flexrow">
        <!-- Replace Round/Turn UI labels -->
        <h3>Turn {{combat.round}} - Segment {{combat.segment}}</h3>
    </div>
    {{/if}}
</header>

<ol id="combat-tracker" class="directory-list">
    {{#each turns}}
    <!-- Add a CSS class or hide entirely if they lack a Phase this segment -->
    <li class="combatant actor directory-item {{#not this.hasPhase}}inactive-segment{{/not}}" data-combatant-id="{{this.id}}">
        <!-- Standard combatant template formatting goes here -->
    </li>
    {{/each}}
</ol>