$c-white: #fff;
$c-black: #000;

$sheet-lighter-background: #f6f5f7;
$sheet-middle-background: #e2e3e7;
$sheet-darker-background: #c2c3cd;
$sheet-header-background: #c9c8c0;
$sheet-highlight-background: #fefdff;
