<li class="item powers expandable-document" data-item-id="{{this.id}}" data-document-uuid="{{this.uuid}}">
    <div class="item-row draggable {{this.validationCss}}">

        {{> (getModulePath 'actor/actor-sheet-v2-parts/actor-sheet-item-cost-v2.hbs') this }}

        {{> (getModulePath 'actor/actor-sheet-v2-parts/actor-sheet-item-description-v2.hbs') this }}
        
        <div class="item-column item-end">
            {{#if this.end}}
                {{this.end}}
            {{/if}}
        </div>

        {{> (getModulePath 'actor/actor-sheet-v2-parts/actor-sheet-item-actions-partial-v2.hbs') this }}

    </div>
</li>

{{#if (not this.system.collapse)}}
    {{#each this.childItems }}
        {{> (getModulePath 'actor/actor-sheet-v2-parts/actor-sheet-powers-partial-item-v2.hbs') this }}
    {{/each}}
{{/if}}